.computer-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  width: 400px;
  height: 400px;
}
.cell {
  border: 1px solid black;
}
.green {
  background-color: greenyellow;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
