h2 {
  text-align: center;
}
.game-container {
  display: flex;
  justify-content: space-evenly;
}
.computer-container,
.player-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  width: 400px;
  height: 400px;
}
.cell {
  border: 1px solid black;
}
.green {
  background-color: greenyellow;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.center {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 0;
  margin: 1rem 2rem;
  padding: 1rem;
  background-color: black;
  color: white;
}
button:hover {
  cursor: pointer;
}
