.game-container {
  display: flex;
  justify-content: space-around;
}
.computer-container,
.player-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  width: 300px;
  height: 300px;
}
.cell {
  border: 1px solid black;
}
.green {
  background-color: greenyellow;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}

button {
  margin: 1rem 2rem;
  height: 2rem;
  width: 3rem;
}
